* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    min-width: 240px;
    background: linear-gradient(45deg, rgb(255, 70, 70), rgb(211, 37, 255));
    display: flex;
    justify-content: center;
    align-items: center;
}
ul.container {
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul.container.active .activeMe {
    transform: rotate(315deg);
}
ul.container.active li {
    transform: rotate(calc(360deg / 8 * var(--i)));
}
ul.container .activeMe {
    position: absolute;
    background-color: rgb(210, 30, 195);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.8em;
    z-index: 99;
    box-shadow: 0 3px 4px black;
    color: #fff;
    cursor: pointer;
    transition: 1.8s;
}
ul.container li {
    position: absolute;
    transform-origin: 100px;
    left: 0;
    transition: .7s;
    transition-delay: calc(.1s * var(--i));
    transform: rotate(0deg) translateX(80px);
}
ul.container li a {
    width: 40px;
    height: 40px;
    background-color: rgb(124, 26, 116);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    font-size: 1.5em;
    --ionicon-stroke-width: 50px;
    transition: .3s;
}
ul.container li a:hover {
    color: rgb(228, 55, 213);
}